{% load static %}

<link rel="stylesheet" href="{% static 'css/components/footer.css' %}">

<footer class="main-footer">
    <div class="footer-container">
        <!-- 소셜 아이콘 -->
        <div class="social-icons">
            <a href="#"><img src="{% static 'img/components/footer/kakao-footer-img.png' %}" alt="kakao"></a>
            <a href="#"><img src="{% static 'img/components/footer/blog-footer-img.png' %}" alt="blog"></a>
            <a href="#"><img src="{% static 'img/components/footer/insta-footer-img.png' %}" alt="instagram"></a>
            <a href="#"><img src="{% static 'img/components/footer/youtube-footer-img.png' %}" alt="youtube"></a>
        </div>


        <!-- 회사 정보 -->
        <div class="company-info">
            <p>대표자 : 박가원 | 사업자등록번호: 155-81-02947 | 대표전화 : 042-933-4555</p> <br>
            <p>FAX : 0303-3449-4555  |  E-Mail : ecoane@ecoaneair.com  |  주소 : 대전광역시 유성구 국제과학8로 5</p>
        </div>

        <!-- 저작권 -->
        <div class="copyright">
            <p>Copyright © 2025 (주)에코에이앤이. All rights reserved.</p>
            <p>Designed By.  ECOAnE Design department.</p>
        </div>
    </div>
</footer>