<!-- nav-footer.html -->
<footer class="nav-footer">
    <div class="footer-content">
        <div class="contact-info">
            <h2>환경 측정 중개 플랫폼(가칭)</h2>
            <p>전화: <strong>042-933-4555</strong></p>
            <p>서비스 운영시간 : 24시간, 연중무휴(단, 서버 점검시에는 별도 공지)
                고객센터 운영시간 : 평일 오전 9시 ~ 오후 5시, 주말 및 법정 공휴일 휴무</p>
            <p>본 서비스는 별도의 어플 설치 없이 이용 가능한 ‘웹 기반 서비스’ 입니다.</p>
        </div>
        <div class="nav-info">
            <div class="service-info">
                <h3>서비스</h3>
                <ul>
                    <li>실내 공기질 측정</li>
                    <li>소음 측정</li>
                    <li>악취</li>
                    <li>수질</li>
                    <li>대기</li>
                    <li>중대재해</li>
                    <li>사무실</li>
                    <li>ESG 경영</li>
                </ul>
            </div>
            <div class="provider-info">
                <h3>업체 찾기</h3>
                <ul>
                    <li>이용 안내</li>
                    <li>견적 요청</li>
                    <li>상담 요청</li>
                </ul>
            </div>
            <div class="estimates-info">
                <h3>받은 견적</h3>
            </div>
            <div class="chat-info">
                <h3>채팅</h3>
            </div>
            <div class="customer-center-info">
                <h3>고객센터</h3>
                <ul>
                    <li>공지사항</li>
                    <li>자주 묻는 질문</li>
                    <li>1:1 질문</li>
                </ul>
            </div>
        </div>
    </div>
</footer>