{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/header.css' %}">
{% endblock %}

<header>
    <div class="nav-logo">
        <a href="{% url 'dashboard' %}">
            <h1>EcoAnE</h1>
            <span class="subtitle">환경 측정 중개 플랫폼</span>
        </a>
    </div>
    <div class="header-menu">
        <div class="search-bar">
            <button class="search-btn">
                <img src="{% static 'img/components/search-icon.png' %}" alt="검색" class="search-icon">
            </button>
        </div>
        <ul class="login-menu">
            {% if request.user.is_authenticated %}
                <li class="active"><a href="http://localhost:8000/main">메인</a></li>
                <li><a href="{% url 'provider_profile' %}">마이페이지</a></li>
                <li><a href="#">알림</a></li>
                <li><a href="{% url 'provider_logout' %}">로그아웃</a></li>
            {% endif %}
        </ul>
    </div>
</header>

<script src="{% static 'js/components/navbar.js' %}"></script>